<div class="page-wrapper">

  <div class="page-header">
    <h1><a ui-sref="home"><img class="logo-img" src="images/logo.png" /></a> Log In</h1>
  </div>

  <div ng-show="authCtrl.error">
    <span>{{ authCtrl.error.message }}</span>
  </div>

  <form ng-submit="authCtrl.login()">
    <div class="input-field col s6">
      <input id="email" type="email" class="form-control validate" ng-model="authCtrl.user.email">
      <label for="email">Email</label>
    </div>

    <div class="input-field col s6">
      <input id="password" type="password" class="form-control validate" ng-model="authCtrl.user.password">
      <label for="password">Passowrd</label>
    </div>

    <button class="btn waves-effect waves-light" type="submit">Log In</button>

  </form>

</div>
